<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <!-- Mimic Internet Explorer edge -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Diagem</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="/static/css/style.min.css" media="all">
  <link rel="stylesheet" type="text/css" href="/static/css/regular.css" media="all">
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/style_ie.min.css"/>
  <![endif]-->
  <% if !!@conf.debug: %>
    <script type="text/javascript" charset="utf-8">
      window.DEBUG = <%= @conf.debug %>;
    </script>
  <% end %>
  <script data-main="/static/app/init" src="/static/libs/requirejs/require.js" type="text/javascript"></script>

  <title>Диагем</title>
  
</head>
<body>
  <span id="-body" class="<% if @modal?: %>-no-scroll<% end %>">
    <%- @header %>
    <span id="-view"><%- @page %></span>
    <div class="footer">
      <div class="footer__inner">
        <div class="footer-logo">
          <img src="/static/i/logo_small.png" height="25" width="22" alt="" class="footer-logo__pic">
          <span class="footer-logo__text">Диагем — независимая экспертиза, оценка драгоценных, ювелирных и других камней, бриллиантов и изделий из драгоценных металлов.</span>
        </div><div class="footer-contact">
          <a href="tel:+7 (343) 257-35-68" class="footer-contact__phone">+7 (343) 257-35-68</a>
          <div class="footer-contact__address">Росссия, Екатеринбург, Хохрякова, 74</div>
        </div><div class="footer-link">
          <a href="/" class="footer-copy">&copy; ООО «Диагем»</a><br>
          <a href="http://doitgroup.ru/" target="_blank" class="footer-made-in">made in <img src="/static/i/doit_logo.png" height="15" width="13" alt=""></a>
        </div>
      </div>
    </div>

  </span>

  <div class="window-bg <% if @modal?: %>-show<% end %>"></div>
  <div class="window content__inner <% if @modal?: %>-show<% end %>">
    <a href="/" class="window-close">
      <img src="/static/i/window_close.png" height="28" width="28" alt="" class="window-close__icon">
    </a>
    <span class="-modal-wrapper"><%- @modal %></span>
  </div>
</body>
</html>
